* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  overflow: hidden;
}

div {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  font-family: monospace;
  color: white;
  z-index: 1;
  margin-left: 2px;
  margin-top: 2px;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
